{{#each articles}}

	<div class="input-group article-list">
		<a href="{{this.link}}" target="_blank" class="form-control">{{this.title}}</a>

		<span class="input-group-btn article-list">
			<form action="/unsavedarticles/{{this.id}}" method="POST">
				<button type="submit" class="btn btn-primary">Remove</button>
			</form>
		</span>
		
		
	</div>
	<br>

{{/each}}